doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Loc8r
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse.justify-content-between
          ul.nav.navbar-nav
            li
              a(href='/about/') About
            if sessionUser
              li
                a(href='/location/addlocation') Add Location
          ul.nav.navbar-nav.navbar-right
            li
              if sessionUser==null
                a(href='/users/signin') Log In
              else
                a(href='/users/signout') Log Out( #{sessionUser.split("@")[0]} )
    .container
       block content
       footer
         .row
           .col-xs-12
             small &copy; Akhil Dutt 2019
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')